<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[[[page:title()]]]</title>
  [[[page:metatags]]]
  <script language="Javascript" type="text/javascript" src="/nitrogen/jquery.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/nitrogen/jquery-ui.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/nitrogen/livevalidation.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/nitrogen/nitrogen.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/nitrogen/bert.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/js/jquery.jstree.js"  charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/js/jquery.cookie.js"  charset='utf-8'></script> 
  <script language="Javascript" type="text/javascript" src="/js/jquery.hotkeys.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/js/edit_area/edit_area_full.js" charset='utf-8'></script>
  <script language="Javascript" type="text/javascript" src="/js/jquery.layout-latest.js" charset='utf-8'></script>
  [[[page:scripts]]]
  <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/nitrogen/nitrogen.css" />
  [[[page:style]]]
</head>
<body>
[[[page:body()]]]
[[[page:ulogin()]]]
<script>
[[[script]]]
</script>
</body>
</html>
